body {
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
    /* padding: 10px 10px 10px 10px; */
    width: 100vw;
    /* height: 100vh; */
    overflow-x: hidden;
    color: white;
    /* padding-bottom: 0; */
    margin: 0;
}

p {
    font-size: 2em;
    /* margin: 0; */
}
h1 {
    margin: 0;
}
.container {
    position: relative;
    padding-top: 10px;
    /* height: 70vh; */
    width: 90%;
    display: block;
    /* border: 2px solid black; */
    margin: auto;
    text-align: center;
}

.counter {
    position: relative;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 0;
    margin-bottom: 20px;
    background-color: #574f84;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #491f66;
    margin-bottom: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 0.5em;
}

.preload {
    position : absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    display: none;
}
#canvas {
    text-align: left;
    height: 40vh;
    border: 2px solid black;
    margin: 20px 0px;
}
.kuru {
    position: absolute;
    z-index: -1;
    margin-top: -70px;
    top: 0;
    height : 500px;
    width: 500px;
    overflow: hidden;
}
#title {
    font-size: 3em;
    font-weight: bolder;
    color : white;
    
}
#summon {
    position: relative;
    background-color: #574f84;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    padding: 16px 32px;
}